.item {
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.step {
  color: #212121;
  font-size: 14px;
}

.middle {
  color: #757575;
  font-size: 14px;
}

.late {
  color: #212121;
  font-size: 16px;
}

.star {
  color: #757575;
  font-size: 16px;
}

.finish {
  font-size: 14px;
}

.next {
  font-size: 44px;
}

.order {
  font-size: 16px;
}

.btn {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

.news {
  color: #212121;
  font-style: bold;
  font-size: 18px;
}

.class {
  color: #ffffff;
  font-size: 14px;
}

.fin {
  color: #757575;
  font-style: Regular;
  font-size: 16px;
  line-height: 30px;
}
.link {
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

ul {
  list-style: none;
}

.mail {
  text-decoration: none;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.imail {
  font-style: Regular;
  font-size: 14px;
  line-height: 24px;
}

.cursor {
  cursor: pointer;
}
